In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_csv('salary_data_cleaned.csv', index_col=0)
df.head()

,Job Title,Company Name,Rating,Workplace,Salary,Posted Day,Job Type,Job Description,Size,Type,...,hourly,min_salary,max_salary,avg_salary,job_state,age,python_yn,r_yn,aws_yn,spark_yn
0,Data Scientist,ATX Consulting,-1.0,Remote,$82 - $85 Per Hour(Employer est.),3d ago from 2021-07-26 16:00:33.634211,Full-time,About us: ATX Consulting is a leading Austin T...,NaN,NaN,...,1,82,85,83.5,NaN,NaN,0,0,0,0
1,Data Scientist Consultant,Microagility,5.0,Remote,$79K - $181K (Employer est.),9d ago from 2021-07-26 16:00:34.181862,Full-time,"We are looking for a hands-on, agile, and resu...",1 to 50 Employees,Company - Private,...,0,79,181,130.0,NaN,NaN,1,0,0,1
2,Data Scientist,Halo Solutions,-1.0,Remote,$24 - $29 Per Hour(Employer est.),11d ago from 2021-07-26 16:00:37.168951,Part-time,Data Scientist for Halo Solutions\nJob Title: ...,NaN,NaN,...,1,24,29,26.5,NaN,NaN,1,0,0,1
3,Data Scientist,Scalarr,-1.0,Remote,$48K - $96K (Employer est.),3d ago from 2021-07-26 16:00:39.248909,Temporary,We’re looking for a talented Data Scientist to...,NaN,NaN,...,0,48,96,72.0,NaN,NaN,1,0,0,0
4,Data Scientist,Amer Technology In,-1.0,"Austin, TX",$72 - $77 Per Hour(Employer est.),6d ago from 2021-07-26 16:00:41.412858,Full-time,Data Scientist Roles and Responsibilities\n1. ...,NaN,NaN,...,1,72,77,74.5,TX,NaN,0,0,1,0

In [15]:
df.columns

Index(['Job Title', 'Company Name', 'Rating', 'Workplace', 'Salary',
       'Posted Day', 'Job Type', 'Job Description', 'Size', 'Type', 'Industry',
       'Sector', 'Revenue', 'Founded', 'hourly', 'min_salary', 'max_salary',
       'avg_salary', 'job_state', 'age', 'python_yn', 'r_yn', 'aws_yn',
       'spark_yn'],
      dtype='object')

In [23]:
def categorize(title, mapper, exception_case):
    for cate in mapper:
        try:
            return next(cate for content in mapper[cate] if content in title.lower())
        except StopIteration:
            continue
    
    return exception_case

In [27]:
category_mapper = {
    'data scientist': ['data scientist'],
    'data engineer': ['data engineer'],
    'machine learning': ['mle'],
    'analyst': ['analyst'],
    'manager': ['manager'],
    'director': ['director'],
}

df['job_cate'] = df['Job Title'].apply(categorize, args=(category_mapper, 'na'))

In [28]:
df['job_cate'].value_counts()

data scientist    255
na                 20
analyst             5
Name: job_cate, dtype: int64

In [30]:
seniority_mapper = {
    'senior': ['sr', 'sr.', 'senior', 'lead', 'principal'],
    'jr': ['jr', 'jr.'],
}

df['seniority'] = df['Job Title'].apply(categorize, args=(seniority_mapper, 'na'))

In [31]:
df['seniority'].value_counts()

na        275
senior      5
Name: seniority, dtype: int64

In [32]:
df['job_state'].value_counts()

TX    47
DC    21
VA    20
CA     8
MD     6
MA     4
NY     4
IL     4
DE     2
WA     1
MN     1
CO     1
GA     1
MI     1
IA     1
Name: job_state, dtype: int64